html,
body,
canvas {
    width: 100%;
    height: 100%;
    margin: 0;
	font-family: sans-serif;
	color: #BBB3A3;
}
:root {
	--animate-delay: 0s;
	--animation-duration: 2s;
}

body {
	padding: 5px;
	font-family: 'Redressed', cursive;
	box-sizing: border-box;
	text-align: center;
}
div {
	position: absolute;
}
span {
	text-shadow: 1px 1px 5px #000;
}
span::after {
	width: 100%;
	content: 'deaths';
	display: block;
	position: absolute;
	top: 90%;
	font-size: 50%;
}