html,
body,
canvas {
    width: 100%;
    height: 100%;
    margin: 0;
	font-family: sans-serif;
	color: #ffffff;
}

body {
	padding: 5px;
	font-family: 'Redressed', cursive;
	box-sizing: border-box;
}

span {
	transition: all 3s ease;
}
span::after {
	content: 'deaths';
	display: block;
	position: absolute;
	top: 90%;
	font-size: 50%;
}